{{!-- row 1 --}}
<div class="row d-flex justify-content-center">
    <div class="col-12 col-md-5 d-flex mb-5 p-4 project-container">
        <div>
            <a href="https://hidden-forest-09542.herokuapp.com/"><img width="200" src="assets/nb-proj.png" class="project-image"></a>
        </div>
        <div>
            <a href="https://hidden-forest-09542.herokuapp.com/"><h3>Neighborgood</h3></a>
            <p class="proj-desc">A community share application that allows users to create accounts, post items and make comments</p>
        </div>
    </div>
    <div class="col-12 col-md-5 d-flex mb-5 p-4 project-container">
        <div>
            <a href="https://scottybuoy.github.io/Is-it-a-Movie/"><img width="200" src="assets/movie-proj.png" class="project-image"></a>
        </div>
        <div>
            <a href="https://scottybuoy.github.io/Is-it-a-Movie/"><h3>Is It a Movie?</h3></a>
            <p class="proj-desc">A web application that queries several api's to find film adaptations of your favorite book, and compare ratings for each</p>
        </div>
    </div>
</div>
{{!-- row 2 --}}
<div class="row d-flex justify-content-center">
    <div class="col-12 col-md-5 d-flex mb-5 p-4 project-container">
        <div>
            <a href="https://damp-bastion-52444.herokuapp.com/"><img width="200" src="assets/tb-proj.png" class="project-image"></a>
        </div>
        <div>
            <a href="https://damp-bastion-52444.herokuapp.com/"><h3>Develup</h3></a>
            <p class="proj-desc">A blog-style full-stack web application where users can create an account and write about programming related matters</p>
        </div>
    </div>
    <div class="col-12 col-md-5 d-flex mb-5 p-4 project-container">
        <div>
            <a href="https://scottybuoy.github.io/weather-dashboard/"><img width="200" src="assets/weath-proj.png" class="project-image"></a>
        </div>
        <div>
            <a href="https://scottybuoy.github.io/weather-dashboard/"><h3>How's the Weather In...?</h3></a>
            <p class="proj-desc">A web application that queries a weather api to give the user the current weather in any city on earth, as well as a 5 day forecast</p>
        </div>
    </div>
</div>
{{!-- row 3 --}}
<div class="row d-flex justify-content-center">
    <div class="col-12 col-md-5 d-flex mb-5 p-4 project-container">
        <div>
            <a href="https://github.com/scottybuoy/e-commerce-back-end.git"><img width="200" src="assets/ecom-proj.png" class="project-image"></a>
        </div>
        <div>
            <a href="https://github.com/scottybuoy/e-commerce-back-end.git"><h3>Ecommerce Back End</h3></a>
            <p class="proj-desc">A demonstration of my capacity to build an test routes to perform CRUD actions on an api</p>
        </div>
    </div>
    <div class="col-12 col-md-5 d-flex mb-5 p-4 project-container">
        <div>
            <a href="https://github.com/scottybuoy/team-profile-generator.git"><img width="200" src="assets/profile-proj.png" class="project-image"></a>
        </div>
        <div>
            <a href="https://github.com/scottybuoy/team-profile-generator.git"><h3>Team Profile Generator</h3></a>
            <p class="proj-desc">A command line application that dynamically creates a webpage for a company team profile</p>
        </div>
    </div>
</div>
