{{!-- row 1 --}}
<div class="row d-flex justify-content-center">
    <div class="col-12 col-md-5 d-flex mb-5 p-4 project-container">
        <div>
            <img width="200" src="assets/nb-proj.png" class="project-image">
        </div>
        <div>
            <h3>Neighborgood</h3>
            <p class="proj-desc">Ut sint minim est ea duis officia cupidatat sit nulla. fuck you dog whats up</p>
        </div>
    </div>
    <div class="col-12 col-md-5 d-flex mb-5 p-4 project-container">
        <div>
            <img width="200" src="assets/movie-proj.png" class="project-image">
        </div>
        <div>
            <h3>Is It a Movie?</h3>
            <p class="proj-desc">Ut sint minim est ea duis officia cupidatat sit nulla.</p>
        </div>
    </div>
</div>
{{!-- row 2 --}}
<div class="row d-flex justify-content-center">
    <div class="col-12 col-md-5 d-flex mb-5 p-4 project-container">
        <div>
            <img width="200" src="assets/tb-proj.png" class="project-image">
        </div>
        <div>
            <h3>Develup</h3>
            <p class="proj-desc">Ut sint minim est ea duis officia cupidatat sit nulla.</p>
        </div>
    </div>
    <div class="col-12 col-md-5 d-flex mb-5 p-4 project-container">
        <div>
            <img width="200" src="assets/weath-proj.png" class="project-image">
        </div>
        <div>
            <h3>How's the Weather In...?</h3>
            <p class="proj-desc">Ut sint minim est ea duis officia cupidatat sit nulla.</p>
        </div>
    </div>
</div>
{{!-- row 3 --}}
<div class="row d-flex justify-content-center">
    <div class="col-12 col-md-5 d-flex mb-5 p-4 project-container">
        <div>
            <img width="200" src="assets/ecom-proj.png" class="project-image">
        </div>
        <div>
            <h3>Ecommerce Back End</h3>
            <p class="proj-desc">Ut sint minim est ea duis officia cupidatat sit nulla. fuck you dog whats up</p>
        </div>
    </div>
    <div class="col-12 col-md-5 d-flex mb-5 p-4 project-container">
        <div>
            <img width="200" src="assets/profile-proj.png" class="project-image">
        </div>
        <div>
            <h3>Team Profile Generator</h3>
            <p class="proj-desc">Ut sint minim est ea duis officia cupidatat sit nulla.</p>
        </div>
    </div>
</div>
